<div class="section">
    <div class="row">
        <div class="well md-margin">
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">Filter by state</label>
                    <select class="selectpicker" ng-model="selected_status">
                             <option value='running'>running</option>
                             <option value="failed">failed</option>
                             <option value="">all</option>
                         </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputName2">By service</label>
                    <select class="selectpicker" ng-model="selected_service">
                             <option value="agility-platform">agility-platform</option>
                             <option value="mysql">mysql</option>
                             <option value="nginx">nginx</option>
                             <option value="archiva">archiva</option>
                            <option value="zookeeper">zookeeper</option>
                            <option value="rabbitmq">rabbitmq</option>
                            <option value="">all</option>
                     </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div ng-repeat="n in nodes">
            <div class="col-md-12">
                <div class="panel panel-default" ng-class="n.leader? 'panel-success' : 'panel-info'">
                    <div class="panel-heading">
                        <div class="row">

                            <div class="col-md-3">
                                {{n.description}}
                            </div>
                            <div class="col-md-3">
                                {{n.address}}
                            </div>
                            <div class="col-md-3">
                                Status: {{n.status}}
                            </div>
                            <div ng-show="n.leader" ng-class="col-md-3">
                                <span class="glyphicon glyphicon-king" aria-hidden="true"></span> Leader
                            </div>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div ng-repeat="t in n.tasks | filter:{ status: selected_status} | filter:{service: { name: selected_service}}">
                            <div class="col-md-4">
                                <div class="panel panel-default panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{t.service.name}}</h3>
                                    </div>
                                    <div class="panel-body">

                                        <ul class="list-group">
                                            <li class="list-group-item">Container status : <span class="label" ng-class="getStateClass(t.status)">{{t.status}}</span></li>
                                            <li class="list-group-item">Container ID :<small> {{t.containerID}}</small></li>
                                            <li ng-show="t.service.rawData.Endpoint.Ports[0].PublishedPort" class="list-group-item">Port :<small> {{t.service.rawData.Endpoint.Ports[0].PublishedPort}}</small></li>
                                            <li class="list-group-item">Network :<small> {{t.service.network}}</small></li>
                                        </ul>

                                    </div>
                                    <div class="panel-footer">
                                        <button type="button" class="btn btn-xs btn-primary" ng-click="showServiceDetails(t.service.rawData)" data-toggle="modal" data-target=".bs-example-modal-lg">details</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'/views/servicedetails.html'"></div>
</div>